@import url(http://fonts.googleapis.com/css?family=Alef:400,700);
@import (inline) "./lib/bootstrap.css";
@import "./lib/lesshat.less";

@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee

@brand-primary:         #428bca;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

body {
	margin: 0;
	padding: 0;
	font-family: "Alef", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background-color: white;
	color: @gray-darker;
}

main {
	margin: 30px 0;
}

#nav {
	margin-bottom: 30px;
}

.radio label, .checkbox label {
	display: block;
}

fieldset {
	margin-bottom: 30px;
}

@import "./sidebar.less";