<form class="form-horizontal">
	<fieldset>
		<legend>General</legend>

		<div class="form-group">
			<label class="control-label col-lg-2" for="inputName">Name</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="inputName" bind-to="{{ craft.props.server.name }}" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-lg-2" for="inputImage">Image URL</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="inputImage" bind-to="{{ craft.props.server.image }}" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-lg-2" for="selectVersion">Minecraft Version</label>
			<div class="col-lg-3">
				<select bind-to="{{ server.version }}" id="selectVersion" class="form-control">
					{{#mcversions}}
					<option value="{{ this }}">{{ this }}</option>
					{{/mcversions}}
				</select>
			</div>
			<div class="col-lg-7">
				<p class="help-block">If changed, the server executable will be replaced on the next launch.</p>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Server</legend>

		<div class="form-group">
			<label class="control-label col-lg-2" for="inputMOTD">Welcome Text</label>
			<div class="col-lg-8">
				<input type="text" class="form-control" id="inputMOTD" maxlength="59" bind-to="{{ craft.props.game.motd }}" />
			</div>
			<div class="col-lg-2">
				<p class="help-block">{{ motd_count }} / 59</p>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-lg-2" for="selectGameDifficulty">Difficulty</label>
			<div class="col-lg-3">
				<select bind-to="{{ craft.props.game.difficulty }}" id="selectGameDifficulty" class="form-control">
					<option value="0">Peaceful</option>
					<option value="1">Easy</option>
					<option value="2">Normal</option>
					<option value="3">Hard</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-lg-2" for="selectGameMode">Game Mode</label>
			<div class="col-lg-3">
				<select bind-to="{{ craft.props.game.gamemode }}" id="selectGameMode" class="form-control">
					<option value="0">Survival</option>
					<option value="1">Creative</option>
					<option value="2">Adventure</option>
					<option value="3">Spectator</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-lg-2" for="inputGameMaxPlayers">Max Players</label>
			<div class="col-lg-3">
				<input type="number" class="form-control" id="inputGameMaxPlayers" bind-to="{{ craft.props.game.max-players }}" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-lg-2">Spawn</label>
			<div class="col-lg-10">
				<div class="checkbox">
					<label><input bind-to="{{ craft.props.game.generate-structures }}" type="checkbox" /> Structures</label>
					<label><input bind-to="{{ craft.props.game.spawn-animals }}" type="checkbox" /> Animals</label>
					<label><input bind-to="{{ craft.props.game.spawn-monsters }}" type="checkbox" /> Monsters</label>
					<label><input bind-to="{{ craft.props.game.spawn-npcs }}" type="checkbox" /> NPCs</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-lg-2">Misc</label>
			<div class="col-lg-10">
				<div class="checkbox">
					<label><input bind-to="{{ craft.props.game.allow-flight }}" type="checkbox" /> Enable Flight</label>
					<label><input bind-to="{{ craft.props.game.allow-nether }}" type="checkbox" /> Allow Nether Portals</label>
					<label><input bind-to="{{ craft.props.game.pvp }}" type="checkbox" /> PVP</label>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<hr/>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<button type="submit" on-click="save" class="btn btn-success" disabled="{{ saving }}">
					{{# saving }}<i class="icon icon-cog icon-spin"></i> Saving...{{/ saving }}
					{{^ saving }}Save{{/ saving }}
				</button>
				<button on-click="save-restart" class="btn btn-primary" disabled="{{ saving }}">Save &amp; Restart</button>
				<span class="help-inline">
					{{# success }}<span class="text-success">Settings saved successfully.</span>{{/ success }}
					{{# error }}<span class="text-danger">{{ this }}</span>{{/ error }}
					{{# normal }}Server must be restarted for changes to take effect.{{/ normal }}
				</span>
			</div>
		</div>
	</fieldset>
</form>