<div class="server-info">
	<div class="server-image-container">
		<div class="server-image" style="background-image: url('{{ server.image }}');"></div>
	</div>
	<div class="server-status">
		<div class="server-status-inner">
			<div class="server-status-color" data-state="{{ state }}" id="server-color"></div>
			<span id="server-status">{{ humanState[state] }}</span>
		</div>
	</div>
	<h2>{{ server.name }}</h2>
	<div class="btn-group">
		{{# state === "stopped" }}
		<a href="#" class="btn btn-sm btn-success btn-start" on-click="start">Start</a>
		{{/ end of filter }}
		{{# state === "starting" }}
		<a href="#" class="btn btn-sm btn-success btn-start disabled">Starting...</a>
		{{/ end of filter }}
		{{# state === "running" }}
		<a href="#" class="btn btn-sm btn-danger btn-stop" on-click="stop">Stop</a>
		{{/ end of filter }}
		{{# state === "stopping" }}
		<a href="#" class="btn btn-sm btn-danger btn-stop disabled">Stopping...</a>
		{{/ end of filter }}
	</div>
</div>