<div class="server-info">
	<div class="server-image-container">
		<div class="server-image" style="background-image: url('{{ craft.props.server.image }}');"></div>
	</div>
	<div class="server-status">
		<div class="server-status-inner">
			<div class="server-status-color" data-state="{{ craft.state }}" id="server-color"></div>
			<span id="server-status">{{ humanState }}</span>
		</div>
	</div>
	<h2>{{ craft.props.server.name }}</h2>
	<div class="btn-group">
		{{# state:stopped }}<a href="#" class="btn btn-sm btn-success btn-start" on-click="start">Start</a>{{/ state:stopped }}
		{{# state:starting }}<a href="#" class="btn btn-sm btn-success btn-start disabled">Starting...</a>{{/ state:starting }}
		{{# state:running }}
			<a href="#" class="btn btn-sm btn-danger btn-stop{{# stopTime }} disabled{{/ stopTime }}" on-click="stop">
				{{# stopTime }}Stopping in {{ this }}...{{/ stopTime }}
				{{^ stopTime }}Stop{{/ stopTime }}
			</a>
		{{/ state:running }}
		{{# state:stopping }}<a href="#" class="btn btn-sm btn-danger btn-stop disabled">Stopping...</a>{{/ state:stopping }}
	</div>
</div>